@use 'scss/abstract/colors.scss' as c;
@use 'scss/material/material-override.scss' as m;

html,
body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
app-root {
  height: 100%;
  font-weight: normal;
  color: c.$text-color;
  font-family: Roboto, sans-serif;
  background-color: c.$background-color;
}

app-root {
  display: flex;
  flex-direction: column;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
