<section class="header-wrapper">
    <div class="header-wrapper__nav">
        <div class="header-wrapper__nav-logo">
            <mat-icon fontIcon="restaurant" ></mat-icon>
            <span>TastyRecipes</span>
        </div>
        <form class="header-wrapper__nav-search">
            <mat-form-field subscriptSizing="dynamic" appearance="outline" class="header-wrapper__nav-search-field">
                <mat-label>Search for recipe</mat-label>
                <input matInput type="text">
            </mat-form-field>
        </form>
    </div>
</section>